/*Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex{
  display: flex;
}

.dark01
{
   color: #131313;
}

.dark02
{
   color: #424242;
}

.dark03
{
  color: #727272;
}

.ornge-light
{
  color: #FF900E;
}
.bg-color
{
   background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary
{
   padding: 20px 25px 20px 25px;
   background-color: #FF900E;
   border-radius: 0.5rem;
   border: none;
   font-size: 1.25rem;
   color: #FFFFFF;
   font-weight: 600;
}

main
{
   max-width: 1440px;
   margin: 0 auto;
}

.section-tittle
{
   font-size: 2.8rem;
   font-weight: 700;
}

.section-description
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

/* Navbar releted styles */

.navbar
{
   justify-content: space-between;
   align-items: center;
}

.nav-items
{
    list-style: none;
    margin-right: 40px;
    
    
}

.nav-link
{
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: #424242;  /*Dark02*/
}

.brand-name
{
   font-size: 2.5rem;
   font-weight: bold;
   color: #131313; /*Dark01*/
}

.navbar, .banner
{
   max-width: 1440px ;
   margin: 0 auto;
}

.banner-content
{
   max-width: 868px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 3.2rem;
}

.banner-tittle
{
   font-size: 4rem;
   font-weight: bold;
}

.banner-description
{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.6rem;
}

.banner-img
{
   width: 100%;
   margin-bottom: 2rem;
}



/* Brand featurs */
.feature-content
{
   width: 537px;
   margin-top: 285px;
   margin-left: 75px;

}
.features-images
{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1.5rem;
   margin-top: 85px;
}


/* Some facts */
.fact
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fact-card
{
   width: 12rem;
   height: 12rem;
   padding: 46px 36px 60px 36px;
   border: 2px solid #FF900E;
   border-radius: 0.5rem;
}


.facts-container
{
   margin-bottom: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;

}

.fact-description
{
   line-height: 1.5rem;
   margin-bottom: 5.6rem;
   font-size: 1.3rem;
   font-weight: 600;
   color: #727272;
   margin-top: 10px;


}

.fact-tittle
{
   
   font-size: 2.8rem;
   font-weight: 600;
   color: #424242;
   margin-top: 5px;
   margin-bottom: 10px;
}


.fact-des
{
   max-width: 540px;
   line-height: 1.5rem;
   margin-bottom: 5.6rem;
   font-size: 1rem;
   font-weight: 600;
   color: #727272;
   margin-top: 10px;
}

/* Sponsors section */
.sponspors-content
{
   max-width: 542px;
   margin: 0 auto;
   text-align: center;
   margin-top: 180px;
}

.sponsopor-des
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

.sponspors-companies
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    color: #FFFFFF;
}

.sponspors-companies img
{
   filter: grayscale(100%);
}





/* Responsive for mobile or small device */
@media screen and (max-width: 576px) {
    .navbar, .nav-links
    {
        flex-direction: column;
    }
    
    .nav-links
    {
        gap: 0.5rem;
    }

    .banner-img
    {
       width: 100%;
    }

    .brand-feature
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-content, .image-items
    {
       width: 90%;
    }
    
    .feature-content
    {
       margin-top: 20px;
    }

    .features-images
    {
       grid-template-columns: repeat(1,1fr);
    }

    .facts-container, .sponspors-companies
    {
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 40px;
       justify-items: center;
    }

    .fact-content
    {
      padding: 40px;
    }

    .fact-card
    {
       padding-left: 1rem;
    }
    
}

/* Responsive for tablat or medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .banner-img
    {
       width: 100%;
    }

    .brand-feature
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-items
    {
       width: 90%;
    }

    .features-images
    {
       grid-template-columns: repeat(2,1fr);
    }

    .feature-content
    {
       margin-top: 20px;
       width: 85%;
    }

    .facts-container
    {
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin: 50px auto;
       gap: 50px;
    }
    
    .fact-content
    {
      padding-left: 100px;
      padding-top: 100px;
    }

    .sponspors-companies
    {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       justify-items: center;
       gap: 24px;
    }
}